<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<meta http-equiv="Access-Control-Allow-Origin" content="">
		<meta http-equiv="content-security-policy">
		<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<title>收银支付</title>
		<link href="../../styles/mui.css" rel="stylesheet" />
		<link href="../../styles/iconfont.css" rel="stylesheet" />
		<link href="../../styles/styleAll.css" rel="stylesheet" />
	</head>

	<body class="" id="vue">
		<header class="mui-bar mui-bar-nav">
			<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
			<h1 class="mui-title">收银支付</h1>
		</header>
		<div class="mem-keep-out" v-if="showCardpay">
			<div class="mem-con">
				<h3>请输入卡号和密码</h3>
				<button class="layermend" @click="closeCardpay()"></button>
				<div class="mem-text">
					<ul class="mui-table mui-table-view">
						<li class="mui-table-view-cell">
							<div class="mui-input-row">
								<label>会员卡</label>
								<input type="text" v-model="memberCardNumber" placeholder="请输入会员卡号">
							</div>
						</li>
						<li class="mui-table-view-cell">
							<div class="mui-input-row">
								<label>密码</label>
								<input type="password" v-model="password" placeholder="请输入密码">
							</div>
						</li>
					</ul>
				</div>
				<div class="mem-btn flexCon">
					<button class="flexOne" @click="closeCardpay()">取消</button>
					<button class="flexOne" @click="cardPay()">保存</button>
				</div>
			</div>
		</div>
		<div class="mui-content  whiteBackground">
			<div class="caserin-content">
				<div class="caserin-payamount">￥{{getData.actual}}</div>
				<h5 class="mui-content-padded mui-sub-hed">支付方式</h5>
				<div class="caserPaylist">
					<ul class="mui-table-view">
						<li class="mui-table-view-cell" v-for="(index,item) in payments">
							<div class="mui-input-row mui-radio  mui-right">
								<label class="flexCon mui-caserlist-label">
	                                <img src="../../images/{{item.img}}.png"  class="mui-pull-left"/>
		                            <span class="mui-pull-left">{{item.paymentName}}</span>
                             	</label>
								<input name="radio" type="radio" index='{{index}}' v-model="item.status">
							</div>

						</li>
					</ul>
				</div>
				<div class="mui-margin-20"><button type="button" class="mui-btn mui-btn-primary mui-btn-full" @click="pay()">
					确认收款
				</button></div>

			</div>
		</div>
		<div class="personPay-content" v-show="showPersonpay" transition="expand">
			<header class="mui-bar mui-bar-nav">
				<a class="mui-icon mui-icon-left-nav mui-pull-left" @click='closePersonpay()'></a>
				<h1 class="mui-title">{{paymentType=="19"?"支付宝":"微信"}}支付</h1>
			</header>

			<div class="mui-content whiteBackground">
				<div class="caserin-content">
					<div class="caserin-payamount">￥{{getData.actual}}</div>
					<div class="caserIn-perImg">
						<img :src="payimg" />
						<p>扫描{{paymentType=="19"?"支付宝":"微信"}}二维码向我付钱</p>
					</div>
					<div class="mui-margin-20"><button type="button" class="mui-btn mui-btn-primary mui-btn-full" @click="personPay()">
					确认收款
				</button></div>

				</div>
			</div>
		</div>
	</body>
	<script src="../../js/mui.min.js"></script>
	<script src="../../js/vue.js"></script>
	<script src="../../js/app.js"></script>
	<script src="caserInpay.js"></script>

</html>