<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<meta http-equiv="Access-Control-Allow-Origin" content="">
		<meta http-equiv="content-security-policy">
		<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<title>订单详情</title>
		<link href="../../styles/mui.css" rel="stylesheet" />
		<link href="../../styles/iconfont.css" rel="stylesheet" />
		<link href="../../styles/styleAll.css" rel="stylesheet" />
		<link href="../../styles/jiku.css" rel="stylesheet" />
		<link href="../../styles/mui.picker.min.css" rel="stylesheet" />
	</head>

	<body class="detail-bc" id="vue">
		<header class="mui-bar mui-bar-nav">
			<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
			<h1 id="title" class="mui-title">订单详情</h1>
		</header>
		<div class="mem-keep-out" style="position:fixed" v-show="depositsTypesShow">
			<div class="mem-con">
				<h3>添加押金扣款</h3>
				<button class="layermend" @click="closeDeposit()"></button>
				<div class="mem-text">
					<div class="jk_payitems">
						<button class="flexCon" v-for="(index,type) in depositsTypes" @click="clickDeposit(index)" v-bind:class="type.checked?'cur':''"><div class="flexOne">{{type.depositName}}</div><div style="padding-right: 40px;">{{type.amount}}</div></button>
					</div>
				</div>
				<div class="mem-btn flexCon">
					<button class="flexOne" @click="closeDeposit()">取消</button>
					<button class="flexOne" @click="addDeposit()">保存</button>
				</div>
			</div>
		</div>
		<div class="mem-keep-out" style="position:fixed" v-show="rentTypesShow">
			<div class="mem-con">
				<h3>新建租金单</h3>
				<button class="layermend" @click="closerentLayer()"></button>
				<div class="mem-text">
					<div class="jk_zj_layer">
						<div class="flexCon">
							<div class="jk_zj_layerlabel">SN码</div>
							<input class="flexOne" type="text" placeholder="输入SN码" v-model="rentLayer.zj_lsn">
						</div>
						<div class="flexCon">
							<div class="jk_zj_layerlabel">天数</div>
							<input class="flexOne" type="text" placeholder="输入天数" v-model="rentLayer.zj_ldays">
						</div>
						<div class="flexCon">
							<div class="jk_zj_layerlabel">单价</div>
							<input class="flexOne" type="text" placeholder="输入单价" v-model="rentLayer.zj_lprice">
						</div>
						<div class="flexCon">
							<div class="jk_zj_layerlabel">扣款金额</div>
							<input class="flexOne" type="text" placeholder="输入扣款金额" v-model="rentLayer.zj_lamount">
						</div>
					</div>
				</div>
				<div class="mem-btn flexCon">
					<button class="flexOne" @click="closerentLayer()">取消</button>
					<button class="flexOne" @click="createReimburseOrder()">保存</button>
				</div>
			</div>
		</div>
		<div class="mui-content paddingtop44" v-show='!showData'>
			<div class="jkdetailtop">
				<div class="jkdetailstatus flexCon">
					<div class="jk_ds_text">订单<br><span>{{order.orderNumber}}</span></div>
					<div class="flexOne jk_ds_status">状态<br><span>{{order.status}}</span></div>
				</div>
				<div class="js_detial_con">
					<div class="flexCon">
						<div class="flexOne">下单时间：{{order.orderTime}}</div>
					</div>
					<div class="flexCon">
						<div class="flexOne">收货人：{{order.consignee}}</div>
						<div class="flexOne">手机：{{order.mobilePhone}}</div>
					</div>
					<div class="flexCon">
						<div class="flexOne">出国时间：{{order.leaveHomeTime}}</div>
						<div class="flexOne">回国时间：{{order.returnHomeTime}}</div>
					</div>
					<div class="flexCon">
						<div class="flexOne">门店：{{order.store}}</div>
					</div>
				</div>
				<div class="jkdetailcontent">
					<div class="flexCon" v-for="product in order.products">
						<div class="jk_dc_text flexellipsis ellisDIv">{{product.productName}}</div>
						<div class="flexOne jk_dc_c">{{product.quantity}} x {{product.days}}天</div>
						<div class="jk_dc_r">￥{{product.price}}</div>
					</div>
				</div>
				<div class="jkdetailtbom">￥{{order.totalAmount}}</div>

			</div>
			<div v-if="status==1">
				<div v-if="store==1">
					<div class="jk_d_ht flexCon">
						<span class="mui-icon ifont icon-accept jk_d_ht_i"></span>
						<div class="flexOne jk_d_ht_c">设置SN码</div>
						<div class="jk_d_ht_r">0</div>
					</div>
					<div class="jk_d_bgc">
						<div class="flexCon jk_d_snc">
							<div class="flexOne">SN码</div>
							<div>状态</div>
						</div>
						<div class="jk_sn_div">
							<div class="jk_sn_nodata" v-show="sndata.length==0">无数据</div>
							<ul class="mui-table-view afterNoborder" v-show="sndata.length>0">
								<li class="mui-table-view-cell afterNoborder padding0" v-for="(index, sn) in sndata">
									<div class="mui-slider-right mui-disabled">
										<a class="mui-btn mui-btn-red" @click="deleteSn(index)">删除</a>
									</div>
									<div class="mui-slider-handle">
										<div class="flexCon jk_d_sncdata">
											<div class="flexOne">{{sn}}</div>
											<div class="jk_d_sncr" style="color:red">可使用</div>
										</div>
									</div>
								</li>
							</ul>
						</div>
						<div class="jk_sn_btn">
							<button type="button" class="mui-btn mui-btn-danger mui-btn-outlined" @click="enterSn()">直接输入</button>
							<button type="button" class="mui-btn mui-btn-danger mui-btn-outlined" @click="gosnScan()">扫码录入</button>
						</div>
					</div>
				</div>
				<div v-else>
					<div class="jk_d_ht flexCon">
						<span class="mui-icon ifont icon-accept jk_d_ht_i"></span>
						<div class="flexOne jk_d_ht_c">发送验证码</div>
						<div class="jk_d_ht_r"><button class="jk_mand_btn" @click="mandZt()">强制自提</button></div>
					</div>
					<div class="jk_d_bgc">
						<div class="jk_zt_yzm flexCon">
							<input type="text" v-model="Ztcode" class="flexOne" placeholder="请输入验证码" />
							<button @click="getZtcode()" v-bind:disabled="dissecBtn">{{sectext}}</button>
						</div>
					</div>

				</div>
				<button class="mui-btn-block mui-btn-primary jk_full_btn" @click="deliverOrder()">确认提货</button>
			</div>
			<div v-if="status==2">
				<div class="jk_d_ht flexCon">
					<span class="mui-icon ifont icon-accept jk_d_ht_i"></span>
					<div class="flexOne jk_d_ht_c">订单全部设备SN码</div>
					<div class="jk_d_ht_r">{{order.sns.length}}</div>
				</div>
				<div class="jk_d_bgc">
					<div class="flexCon jk_d_snc">
						<div class="flexOne">SN码</div>
						<div>状态</div>
					</div>
					<div class="jk_sn_div">
						<div class="jk_sn_nodata" v-show="order.sns.length==0">无数据</div>
						<ul class="mui-table-view afterNoborder" v-show="order.sns.length>0">
							<li class="mui-table-view-cell afterNoborder padding0">
								<div class="">
									<div class="flexCon jk_d_sncdata" v-for="sn in order.sns">
										<div class="flexOne">{{sn.snCode}}</div>
										<div class="jk_d_sncr">{{sn.status}}</div>
									</div>
								</div>
							</li>
						</ul>
					</div>
				</div>
				<div class="jk_d_ht flexCon">
					<span class="mui-icon ifont icon-accept jk_d_ht_i"></span>
					<div class="flexOne jk_d_ht_c">返货SN码</div>
					<div class="jk_d_ht_r">{{sndata.length}}</div>
				</div>
				<div class="jk_d_bgc">
					<div class="flexCon jk_d_snc">
						<div class="flexOne">SN码</div>
						<div>状态</div>
					</div>
					<div class="jk_sn_div">
						<div class="jk_sn_nodata" v-show="sndata.length==0">无数据</div>
						<ul class="mui-table-view afterNoborder" v-show="sndata.length>0">
							<li class="mui-table-view-cell afterNoborder padding0" v-for="(index, sn) in sndata">
								<div class="mui-slider-right mui-disabled">
									<a class="mui-btn mui-btn-red" @click="deleteSn(index)">删除</a>
								</div>
								<div class="mui-slider-handle">
									<div class="flexCon jk_d_sncdata">
										<div class="flexOne">{{sn}}</div>
										<div class="jk_d_sncr">待返货</div>
									</div>
								</div>
							</li>
						</ul>
					</div>
					<div class="jk_sn_btn">
						<button type="button" class="mui-btn mui-btn-danger mui-btn-outlined" @click="enterfhSn()">直接输入</button>
						<button type="button" class="mui-btn mui-btn-danger mui-btn-outlined" @click="gofhsnScan()">扫码录入</button>
					</div>
				</div>

				<div class="jk_d_ht flexCon">
					<span class="mui-icon ifont icon-accept jk_d_ht_i"></span>
					<div class="flexOne jk_d_ht_c">押金扣款</div>
					<div class="jk_d_ht_r">{{depositsAr.length}}</div>
				</div>
				<div class="jk_d_bgc">
					<div class="flexCon jk_d_snc">
						<div class="flexOne">扣款类型</div>
						<div>金额</div>
					</div>
					<div class="jk_sn_div">
						<div class="jk_sn_nodata" v-show="depositsAr.length==0">无数据</div>
						<ul class="mui-table-view afterNoborder" v-show="depositsAr.length>0">
							<li class="mui-table-view-cell afterNoborder padding0" v-for="(index, item) in depositsAr">
								<div class="mui-slider-right mui-disabled">
									<a class="mui-btn mui-btn-red" @click="deleteDepositsAr(index)">删除</a>
								</div>
								<div class="mui-slider-handle">
									<div class="flexCon jk_d_sncdata">
										<div class="flexOne">{{item.depositName}}</div>
										<div class="jk_d_sncr">￥{{item.amount}}</div>
									</div>
								</div>
							</li>
						</ul>
					</div>
					<div class="jk_sn_btn">
						<button type="button" class="mui-btn mui-btn-danger mui-btn-outlined" @click="showDeposit()">添加扣款类型</button>
					</div>
				</div>
				<button class="mui-btn-block mui-btn-primary jk_full_btn" @click="createReturnOrder()">确认返货</button>
			</div>
			<div v-if="status==4">
				<div class="jk_d_ht flexCon">
					<span class="mui-icon ifont icon-accept jk_d_ht_i"></span>
					<div class="flexOne jk_d_ht_c">订单返货SN码</div>
					<div class="jk_d_ht_r">{{order.sns.length}}</div>
				</div>
				<div class="jk_d_bgc">
					<div class="flexCon jk_d_snc">
						<div class="flexOne">SN码</div>
						<div>状态</div>
					</div>
					<div class="jk_sn_div">
						<div class="jk_sn_nodata" v-show="order.sns.length==0">无数据</div>
						<ul class="mui-table-view afterNoborder" v-show="order.sns.length>0">
							<li class="mui-table-view-cell afterNoborder padding0">
								<div class="">
									<div class="flexCon jk_d_sncdata" v-for="sn in order.sns">
										<div class="flexOne">{{sn.snCode}}</div>
										<div class="jk_d_sncr">{{sn.status}}</div>
									</div>
								</div>
							</li>
						</ul>
					</div>
				</div>
				<div class="jk_d_ht flexCon">
					<span class="mui-icon ifont icon-accept jk_d_ht_i"></span>
					<div class="flexOne jk_d_ht_c">押金扣款</div>
					<div class="jk_d_ht_r">{{depositsAr.length}}</div>
				</div>
				<div class="jk_d_bgc">
					<div class="flexCon jk_d_snc">
						<div class="flexOne">扣款类型</div>
						<div>金额</div>
					</div>
					<div class="jk_sn_div">
						<div class="jk_sn_nodata" v-show="depositsAr.length==0">无数据</div>
						<ul class="mui-table-view afterNoborder" v-show="depositsAr.length>0">
							<li class="mui-table-view-cell afterNoborder padding0" v-for="(index, item) in depositsAr">
								<div class="mui-slider-right mui-disabled">
									<a class="mui-btn mui-btn-red" @click="deleteDepositsAr(index)">删除</a>
								</div>
								<div class="mui-slider-handle">
									<div class="flexCon jk_d_sncdata">
										<div class="flexOne">{{item.depositName}}</div>
										<div class="jk_d_sncr">￥{{item.amount}}</div>
									</div>
								</div>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<div v-if="status==0">
				<button class="mui-btn-block mui-btn-primary jk_full_btn" @click="gopayPage()">支付</button>
			</div>
			<div v-if="status==3">
				<div class="jk_d_ht flexCon">
					<span class="mui-icon ifont icon-accept jk_d_ht_i"></span>
					<div class="flexOne jk_d_ht_c">订单全部设备SN码</div>
					<div class="jk_d_ht_r">{{order.sns.length}}</div>
				</div>
				<div class="jk_d_bgc">
					<div class="flexCon jk_d_snc">
						<div class="flexOne">SN码</div>
						<div>状态</div>
					</div>
					<div class="jk_sn_div">
						<div class="jk_sn_nodata" v-show="order.sns.length==0">无数据</div>
						<ul class="mui-table-view afterNoborder" v-show="order.sns.length>0">
							<li class="mui-table-view-cell afterNoborder padding0" v-for="(index, sn) in order.sns">
								<div class="">
									<div class="flexCon jk_d_sncdata">
										<div class="flexOne">{{sn.snCode}}</div>
										<div class="jk_d_sncr">{{sn.status}}</div>
									</div>
								</div>
							</li>
						</ul>
					</div>
				</div>
				<div class="jk_d_ht flexCon">
					<span class="mui-icon ifont icon-accept jk_d_ht_i"></span>
					<div class="flexOne jk_d_ht_c">押金扣款</div>
					<div class="jk_d_ht_r">{{order.depositsRecords.length}}</div>
				</div>
				<div class="jk_d_bgc">
					<div class="flexCon jk_d_snc">
						<div class="flexOne">扣款类型</div>
						<div>金额</div>
					</div>
					<div class="jk_sn_div">
						<div class="jk_sn_nodata" v-show="order.depositsRecords.length==0">无数据</div>
						<ul class="mui-table-view afterNoborder" v-else>
							<li class="mui-table-view-cell afterNoborder padding0" v-for="(index, depositsRecord) in order.depositsRecords">
								<div class="">
									<div class="flexCon jk_d_sncdata">
										<div class="flexOne">{{depositsRecord.depositsName}}</div>
										<div class="jk_d_sncr">{{depositsRecord.amount}}</div>
									</div>
								</div>
							</li>
						</ul>
					</div>
				</div>
				<div class="jk_d_ht flexCon">
					<span class="mui-icon ifont icon-accept jk_d_ht_i"></span>
					<div class="flexOne jk_d_ht_c">退租金</div>
				</div>
				<div class="jk_d_bgc">
					<div class="flexCon jk_d_snc">
						<div class="flexOne">租金单号</div>
						<div>金额</div>
					</div>
					<div class="jk_sn_div">
						<div class="jk_sn_nodata" v-show="order.returnRecords.length==0">无数据</div>
						<ul class="mui-table-view afterNoborder">
							<li class="mui-table-view-cell afterNoborder padding0" v-for="(index, returnRecord) in order.returnRecords">
								<div class="mui-slider-right mui-disabled">
									<a class="mui-btn mui-btn-red" @click="deleteSn(index)">删除</a>
								</div>
								<div class="mui-slider-handle">
									<div class="flexCon jk_d_sncdata">
										<div class="flexOne">{{returnRecord.depositNumber}}</div>
										<div class="jk_d_sncr">￥{{returnRecord.amount}}</div>
									</div>
								</div>
							</li>
						</ul>
					</div>
				</div>
				<button class="mui-btn-block mui-btn-primary jk_full_btn" @click="showrentLayer()">新建退租金单</button>

			</div>
		</div>
		<div class="noData" v-show='showData'>数据加载中</div>
	</body>
	<script src="../../js/mui.min.js"></script>
	<script src="../../js/vue.js"></script>
	<script src="../../js/app.js"></script>
	<script src="../../js/mui.picker.min.js"></script>
	<script src="listDetail.js"></script>
	<script>
	</script>

</html>