<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<meta http-equiv="Access-Control-Allow-Origin" content="">
		<meta http-equiv="content-security-policy">
		<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<title>订单支付</title>
		<link href="../../styles/mui.css" rel="stylesheet" />
		<link href="../../styles/iconfont.css" rel="stylesheet" />
		<link href="../../styles/styleAll.css" rel="stylesheet" />
		<link href="../../styles/jiku.css" rel="stylesheet" />
	</head>

	<body class="mix-bc" id="vue">
		<header class="mui-bar mui-bar-nav">
			<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
			<h1 class="mui-title">订单支付</h1>
		</header>
		<div class="mui-content">
			<div class="jk_payTab flexCon">
				<button @click="payTabClick(0)" class="flexOne" v-bind:class="tabAr[0].checked?'cur':''" v-bind:disabled="zAmount.y>0||yAmount>0" style="border:none">合并支付</button>
				<button @click="payTabClick(1)" class="flexOne" v-bind:class="tabAr[1].checked?'cur':''" v-bind:disabled="aAmount.y>0">付租金</button>
				<button @click="payTabClick(2)" class="flexOne" v-bind:class="tabAr[2].checked?'cur':''" v-bind:disabled="aAmount.y>0">付押金</button>
			</div>
			<div class="jk_payTab_mx">
				<div v-show="tabAr[0].checked">
					总金额<span class="mix-fontCor">￥{{aAmount.z}}</span>，已付金额<span class="mix-fontCor">￥{{aAmount.y}}</span>，未付金额<span class="mix-fontCor mix-red">￥{{aAmount.w}}</span>
				</div>
				<div v-show="tabAr[1].checked">
					总租金<span class="mix-fontCor">￥{{zAmount.z}}</span>，已付租金<span class="mix-fontCor">￥{{zAmount.y}}</span>，未付租金<span class="mix-fontCor mix-red">￥{{zAmount.w}}</span>
				</div>
				<div v-show="tabAr[2].checked">
					总押金<span class="mix-fontCor">￥{{yAmount.z}}</span>，已付押金<span class="mix-fontCor">￥{{yAmount.y}}</span>，未付押金<span class="mix-fontCor mix-red">￥{{yAmount.w}}</span>
				</div>
			</div>
            <div class="jk_payput">
            	 <input type="text" placeholder="输入金额" v-model="amount">
            </div>
            <div class="jk_d_ht flexCon"> 
				<span class="mui-icon ifont icon-accept jk_d_ht_i"></span>
				<div class="flexOne jk_d_ht_c">支付方式</div>
			</div>
            <!--<div class="jk_payitems">
              	 <button v-for="(index,payment) in payments" @click="payType(index)" v-bind:class="payment.checked?'cur':''" v-bind:disabled="payment.isPay&&(payment.tabIndex[0]==tabIndex||payment.tabIndex[1]==tabIndex)">{{payment.paymentName}}</button>
            </div>-->
            <div class="jk_payitems" v-show="tabIndex==0">
              	 <button v-for="(index,payment) in payments[0]" @click="payType(index)" v-bind:class="payment.checked?'cur':''" v-bind:disabled="payment.isPay">{{payment.payWay}}</button>
            </div>
            <div class="jk_payitems" v-show="tabIndex==1">
              	 <button v-for="(index,payment) in payments[1]" @click="payType(index)" v-bind:class="payment.checked?'cur':''" v-bind:disabled="payment.isPay">{{payment.payWay}}</button>
            </div>
            <div class="jk_payitems" v-show="tabIndex==2">
              	 <button v-for="(index,payment) in payments[2]" @click="payType(index)" v-bind:class="payment.checked?'cur':''" v-bind:disabled="payment.isPay">{{payment.payWay}}</button>
            </div>
            <button class="mui-btn-block mui-btn-primary jk_full_btn" @click="pay()">支付</button>
		</div>
	</body>
	<script src="../../js/mui.min.js"></script>
	<script src="../../js/vue.js"></script>
	<script src="../../js/app.js"></script>
	<script src="mixPay.js"></script>

</html>