<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<meta http-equiv="Access-Control-Allow-Origin" content="">
		<meta http-equiv="content-security-policy">
		<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<title>创建订单</title>
		<link href="../../styles/mui.css" rel="stylesheet" />
		<link href="../../styles/iconfont.css" rel="stylesheet" />
		<link href="../../styles/mui.picker.min.css" rel="stylesheet" />
		<link href="../../styles/jiku.css" rel="stylesheet" />
		<link href="../../styles/styleAll.css" rel="stylesheet" />
		
	</head>

	<body class="detail-bc" id="vue">
		<header class="mui-bar mui-bar-nav">
			<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
			<h1 id="title" class="mui-title">创建订单</h1>
		</header>
		<div class="mui-content paddingtop44">
			<div class="jkdetailtop">
				<div class="jkdetailstatus flexCon">
					<div class="jk_ds_text">订单</div>
					<div class="flexOne"><select class="mui-btn" style="width:60%;margin:0 auto;display: block;text-align: center;" v-model="warehouseName">
						<option value="{{warehouse.warehouseName}}" v-for="warehouse in warehouses">{{warehouse.warehouseName}}</option>
					</select></div>
					<div class="jk_ds_status">状态<br><span>下单中</span></div>
				</div>
				<div class="jkdetailcontent">
					<div class="flexCon">
						<div class="jk_dc_text  ellisDIv">{{submitData.items[0].pdname}}</div>
						<div class="flexOne jk_dc_c">{{submitData.items[0].quantity}} x {{hiredays}}天</div>
						<div class="jk_dc_r">￥{{spAmount}}</div>
					</div>
					<div class="flexCon">
						<div class="jk_dc_text  ellisDIv">{{submitData.items[1].pdname}}</div>
						<div class="flexOne jk_dc_c">{{submitData.items[1].quantity}} x {{hiredays}}天</div>
						<div class="jk_dc_r">￥{{yjAmount}}</div>
					</div>
				</div>
				<div class="jkdetailtbom">￥{{totalAmount}}</div>
			</div>
			<div class="jk_d_ht flexCon">
				<span class="mui-icon ifont icon-accept jk_d_ht_i"></span>
				<div class="flexOne jk_d_ht_c">设置SN码</div>
				<div class="jk_d_ht_r">{{sndata.length}}</div>
			</div>
			<div class="jk_d_bgc">
				<div class="flexCon jk_d_snc">
					<div class="flexOne">SN码</div>
					<div>状态</div>
				</div>
				<div class="jk_sn_div">
					<div class="jk_sn_nodata" v-show="sndata.length==0">无数据</div>
					<ul class="mui-table-view afterNoborder" v-show="sndata.length>0">
						<li class="mui-table-view-cell afterNoborder padding0" v-for="(index, sn) in sndata">
							<div class="mui-slider-right mui-disabled">
								<a class="mui-btn mui-btn-red" @click="deleteSn(index)">删除</a>
							</div>
							<div class="mui-slider-handle">
								<div class="flexCon jk_d_sncdata">
									<div class="flexOne">{{sn}}</div>
									<div class="jk_d_sncr" style="color:red">在仓</div>
								</div>
							</div>
						</li>
					</ul>
				</div>
				<div class="jk_sn_btn" v-show="!hasSNsearch">
					<button type="button" class="mui-btn mui-btn-danger mui-btn-outlined" @click="enterSn()">直接输入</button>
					<button type="button" class="mui-btn mui-btn-danger mui-btn-outlined" @click="gosnScan()">扫码录入</button>
				</div>
			</div>
			<div class="jk_d_ht flexCon">
				<span class="mui-icon ifont icon-accept jk_d_ht_i"></span>
				<div class="flexOne jk_d_ht_c">基础信息</div>
			</div>
			<div class="jk_d_bgc">
				<div class="jk_d_user flexCon hasbomborder">
					<span class="mui-icon iconfont icon-gongsiyuangong"></span>
					<div>取货人</div>
					<input v-model="submitData.consignee" type="text" class="mui-input-clear mui-input flexOne" placeholder="取货人姓名">
				</div>
				<div class="jk_d_user flexCon">
					<span class="mui-icon iconfont icon-gongsiyuangong"></span>
					<div>手机</div>
					<input v-model="submitData.mobilePhone" type="text" class="mui-input-clear mui-input flexOne" placeholder="取货人手机">
				</div>
			</div>
			<div class="jk_d_ht flexCon">
				<span class="mui-icon ifont icon-accept jk_d_ht_i"></span>
				<div class="flexOne jk_d_ht_c">ERP内部备注</div>
			</div>
			<div class="jk_d_bgc">
				<textarea v-model="submitData.mome"></textarea>
			</div>
			<div class="jk_d_ht flexCon">
				<span class="mui-icon ifont icon-accept jk_d_ht_i"></span>
				<div class="flexOne jk_d_ht_c">设备租用时间</div>
			</div>
			<div class="jk_d_bgc">
				<div class="renttime">
					<div class="flexCon hasbomborder" style=";">
						<div class="renttimelabel">出国日期</div>
						<button @click='optionTime(1)' class="btn mui-btn mui-btn-block flexOne">{{beginFont}}</button>
					</div>
					<div class="flexCon hasbomborder" style=";">
						<div class="renttimelabel">回国日期</div>
						<button @click='optionTime(0)' class="btn mui-btn mui-btn-block flexOne">{{endFont}}</button>
					</div>
					<div class="flexCon hasbomborder" style=";">
						<div class="renttimelabel">发货日期</div>
						<button @click='optionTime2(2)' class="btn mui-btn mui-btn-block flexOne">{{sendFont}}</button>
					</div>
					<div class="flexCon" style="">
						<div class="renttimelabel">返货日期</div>
						<button @click='optionTime2(3)' class="btn mui-btn mui-btn-block flexOne">{{backFont}}</button>
					</div>
				</div>
			</div>
			<button class="mui-btn-block mui-btn-primary jk_full_btn" @click="createOrder()">确定</button>
		</div>
	</body>
	<script src="../../js/mui.min.js"></script>
	<script src="../../js/vue.js"></script>
	<script src="../../js/app.js"></script>
	<script src="../../js/mui.picker.min.js"></script>
	<script src="cartDetail.js"></script>
	<script>
	</script>

</html>